html, body {
    /*background-color: #e2e2e2;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #333;
    font-size: .85em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* main layout
----------------------------------------------------------*/
.centerlised {
    margin: 0 auto;
    width: 960px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content {
    padding-bottom: 40px;
}

#footer {
    clear: both;
    height: 40px;
    margin-top: -40px;
    background-color: #e2e2e2;
    font-size: .8em;
    width: 100%;
}

a {
    color: #333;
    outline: none;
    /*padding-left: 3px;
    padding-right: 3px;*/
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup, nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}

.no-Padding-no-margin {
    padding: 0;
    margin: 0;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* site-title
----------------------------------------------------------*/
.site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    padding: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: red;
        outline: none;
        text-decoration: none;
    }

#header {
    /*background-color: #5d18f1;
    background-image: -ms-linear-gradient(left, #5d18f1 0%, #e8f0f6 100%);
    background-image: -o-linear-gradient(left, #5d18f1 0%, #e8f0f6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #5d18f1), color-stop(1, #e8f0f6));
    background-image: -webkit-linear-gradient(left, #5d18f1 0%, #e8f0f6 100%);
    background-image: linear-gradient(left, #5d18f1 0%, #e8f0f6 100%);*/
    color: #3e5667;
    padding: 20px 40px 42px 40px;
    /*  -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}

div#navigation {
    background-color: purple;
}



/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/*/////////////*/
/* Essentials */

/* Modules */

.module {
    border: 1px solid #9BA0AF;
    width: 100%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

    .module header h3 {
        color: #1F1F20;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        font-size: 13px;
        margin: 8px 20px;
        display: block;
        width: 90%;
        float: left;
    }

    .module header {
        height: 38px;
        width: 100%;
        background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .module footer {
        height: 32px;
        width: 100%;
        border-top: 1px solid #9CA1B0;
        background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }

.module_content {
    margin: 10px 20px;
    color: #666;
}

/* Module Widths */

.width_full {
    width: 95%;
}

.width_half {
    width: 46%;
    margin-right: 0;
    float: left;
}

.width_quarter {
    width: 26%;
    margin-right: 0;
    float: left;
}

.width_3_quarter {
    width: 66%;
    margin-right: 0;
    float: left;
}


/* Messages */

.message {
    border-bottom: 1px dotted #cccccc;
}

/*todo need to creat a button class form both submit and link a*/
input[type=submit], .linkAsButton {
    background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
    border: 1px solid #A8A9A8;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    font-weight: bold;
    height: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

    input[type=submit]:hover, .linkAsButton:hover {
        color: #333333;
    }

    input[type=submit].alt_btn, .linkAsButton.alt_btn {
        background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
        border: 1px solid#30B0C8;
        -webkit-box-shadow: 0 1px 0 #fff;
        -moz-box-shadow: 0 1px 0 #fff;
        box-shadow: 0 1px 0 #fff;
        font-weight: bold;
        height: 22px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 10px;
        color: #003E49;
        text-shadow: 0 1px 0 #6CDCF9;
        cursor: pointer;
    }

        input[type=submit].alt_btn:hover, .linkAsButton.alt_btn:hover {
            color: #001217;
        }

    input[type=submit].btn_post_message {
        background: #D0D1D4 url(../images/post_message.png) no-repeat;
        display: block;
        width: 37px;
        border: none;
        height: 24px;
        cursor: pointer;
        text-indent: -5000px;
    }

        input[type=submit].btn_post_message:hover {
            background-position: 0 -24px;
        }

.post_message {
    text-align: left;
    padding: 5px 0;
}

    .post_message input[type=text] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #bbb;
        height: 20px;
        width: 70%;
        color: #ccc;
        -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        text-indent: 10px;
        background-position: 10px 6px;
        float: left;
        margin: 0 3.5%;
    }

        .post_message input[type=text]:focus {
            outline: none;
            border: 1px solid #77BACE;
            -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            color: #666666;
        }

    .post_message input[type=image] {
        float: left;
    }

.message_list {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* New/Edit Article Module */

fieldset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F6F6F6;
    border: 1px solid #ccc;
    padding: 1% 0%;
    margin: 10px 0;
}

    fieldset label {
        display: block;
        float: left;
        width: 200px;
        height: 25px;
        line-height: 25px;
        text-shadow: 0 1px 0 #fff;
        font-weight: bold;
        padding-left: 10px;
        margin: -5px 0 5px 0;
        text-transform: uppercase;
    }

    fieldset input[type=text] {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #BBBBBB;
        height: 20px;
        color: #666666;
        -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        padding-left: 10px;
        background-position: 10px 6px;
        margin: 0;
        display: block;
        float: left;
        width: 96%;
        margin: 0 10px;
    }

        fieldset input[type=text]:focus {
            outline: none;
            border: 1px solid #77BACE;
            -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        }

    fieldset select {
        width: 96%;
        margin: 0 10px;
        border: 1px solid #bbb;
        height: 20px;
        color: #666666;
    }

    fieldset textarea {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #BBBBBB;
        color: #666666;
        -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
        padding-left: 10px;
        background-position: 10px 6px;
        margin: 0 0.5%;
        display: block;
        float: left;
        width: 96%;
        margin: 0 10px;
    }

        fieldset textarea:focus {
            outline: none;
            border: 1px solid #77BACE;
            -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
            box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
        }

.submit_link {
    float: right;
    margin-right: 3%;
    padding: 5px 0;
}

    .submit_link select {
        width: 150px;
        border: 1px solid #bbb;
        height: 20px;
        color: #666666;
    }


/* Alerts 
-------------------------- */

#main h4.alert_info {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #77BACE;
    color: #082B33;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

#main h4.alert_warning {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #C7A20D;
    color: #796616;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

#main h4.alert_error {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #D20009;
    color: #7B040F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

#main h4.alert_success {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #79C20D;
    color: #32510F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

span.dollarSign {
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    margin-right: 2px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    /*border: solid 1px;
    border-color: red;*/
}

th {
    font-size: 1.2em;
    text-align: left;
    border: solid 1px;
    border-color: #79c20d;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    /*border: solid 1px;
    border-color: blueviolet;*/
}

td a {
    text-decoration: none;
    float: left;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}
