#dropzone {
    width: 100%;
    height: 100px;
    /* line-height: 50px;*/
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: gray;
    font-style: italic;
    /*font-weight: bold;*/
    border-style: dashed;
    border-width: thick;
    margin: 0;
}

    #dropzone.in {
        /*width: 100%;
        height: 115px;
        line-height: 200px;*/
        /*font-size: 40px;
        text-align: center;
        vertical-align: middle;*/
        color: black;
        font-style: normal;
        z-index: 999;
    }

    /*#dropzone.hover {
        background: lawngreen;
    }*/

    #dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }

.modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-body {
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.modal-footer {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
