div#panel {
    min-width: 500px;
}

.arrow {
    left: 15% !important;
}

div.popover {
    width: 100%;
}

    div.popover div.popover-content {
        padding: 5px;
    }

div#viewDragger {
    width: 800px; /*change the size also need to change div#viewerBody below*/
    height: 500px;

    margin: 0;
    padding: 0;

    /*text-align: center;*/
}

div#viewerHeader {
    /*position: relative;*/
    cursor: move;
    width: 100%;
    height: 3em;
    /*background-color: lightgray;*/
}

    div#viewerHeader #title {
        margin-left: 5px;
        margin-bottom: 0;
    }

    div#viewerHeader button {
        margin: 5px 5px 0 0;
    }

div#viewDragger hr {
    margin: 5px 0;
}

div#viewerBody {
    position: relative;
    background-color: violet;
    width: 800px; /*use the same size as div#viewDragger*/
    height: 500px;
    margin: 5px 5px 0 5px; /*todo need a way that nonIE use this line, IE use the line before*/
    /*margin-top: 10px;*/ /*for IE only*/ 
    /*  below is the jquery way in case calc is not browser compatable well.
        $('#yourEl').css('width', '100%').css('width', '-=100px');*/
    overflow: hidden;
}

div#viewerFooter {
    position: absolute;
    bottom: 2.2em;
    width: 100%;
}


div#fileList table tbody tr {
    cursor: pointer;
}
