div#panel {
    min-width: 500px;
}

div.panel-heading button {
    margin-left: 3px;
}

.arrow {
    left: 15% !important;
}

div.popover {
    width: 100%;
}

    div.popover div.popover-content {
        padding: 5px;
    }

div#viewDragger {
    width: 700px;
    height: 500px;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

div#viewerHeader {
    /*position: relative;*/
    cursor: move;
    width: 100%;
    height: 3em;
    /*background-color: lightgray;*/
}

    div#viewerHeader #title {
        margin-left: 5px;
        margin-bottom: 0;
    }

    div#viewerHeader button {
        margin: 5px 5px 0 0;
    }

div#viewDragger hr {
    margin: 5px 0;
}

div#viewerBody {
    position: relative;
    margin: 5px 5px 0 5px; /*todo need a way that nonIE use this line, IE use the line before*/
    /*margin-top: 10px;*/ /*for IE only*/
    /*  below is the jquery way in case calc is not browser compatable well.
        $('#yourEl').css('width', '100%').css('width', '-=100px');*/
    overflow: hidden;

    /*background-color: violet;*/
}

div#viewerFooter {
    position: absolute;
    bottom: 2.8em;
    width: 100%;
}

    div#viewerFooter button {
        position:inherit;
        width: 2.4em;
        height: 2.4em;
        font-weight: bold;
    }

        div#viewerFooter label {
            position:inherit;
            left: 1em;
            font-size: 2em;
        }

        div#viewerFooter button#prev {
            left: calc(100% - 90px);
        }

        div#viewerFooter button#next {
            left: calc(100% - 50px);
        }

div#fileList table tbody tr {
    cursor: pointer;
}
