div#panel {
    min-width: 500px;
}

.arrow {
    left: 15% !important;
}

div.popover {
    width: 100%;
}

    div.popover div.popover-content {
        padding: 5px;
    }

div#viewer {
    width: 800px;
    height: 500px;
    padding: 0;
}

div#viewerHeader {
    cursor: move;
    width: 100%;
    overflow: hidden;
    /*background-color: lightgray;*/
}

    div#viewerHeader h5 {
        margin: 14px 0 10px 5px;
    }

    div#viewerHeader button {
        margin: 10px 5px 6px 0;
    }

div#viewer hr {
    margin: 5px 0;
}

div#viewerBody {
    width: 100%;
    height: 100%;
}


div#fileList table tbody tr {
    cursor: pointer;
}
