
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h2>Edit</h2>

<label for="ReceiptViewModel_Description">User to give permission to:</label>
<input class="form-control input-sm" 
       id="ReceiptViewModel_Description" 
       type="text" 
       maxlength="255" 
       value="" data-val="true" data-val-length-max="255" 
       data-val-length="The Asset cannot be longer than 255 characters.">

<br/>

<label for="">Role assign to:</label>
<input class="form-control input-sm"
       id="ReceiptViewModel_Description"
       type="text"
       maxlength="255"
       value="" data-val="true" data-val-length-max="255"
       data-val-length="The Asset cannot be longer than 255 characters.">