
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h2>Permissions</h2>
<br />
<hr />
<h5>Company</h5>
You can create a compnay and assign employees with different permissions. <button class="btn btn-default btn-sm">Add</button>
<br />
<hr />
<h5>Acountent</h5>
You can assign an Acountent to double check your claims and return. <button class="btn btn-default btn-sm">Add</button>
<br />
<hr />
<h5>Delegates</h5>
You can assign Delegates to act for you. <button class="btn btn-default btn-sm">Add</button>
<br />
<hr />
<h5>Viewer</h5>
A viewer can view your receipts and retruns only. <button class="btn btn-default btn-sm">Add</button>

