@{
    ViewBag.Title = "Waiting Confirmation";
}

<h2>Register Confirmation</h2>

A confirmation email has been sent to @ViewBag.Email
<br />
Please check your email and finish the registration process.

