@{
    ViewBag.Title = "All Receipts";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h1>All Receipts</h1>

<p>@Html.ActionLink("Add a new receipt", "Create")</p>
<br />
<div class="center-block">
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Purchase Date</th>
                <th>Price</th>
                <th>Vendor</th>
                <th>Receipt Type</th>
                <th>Is Bulk</th>
                <th>Has Image</th>
            </tr>
        </thead>
        <tr>
            <td><input id="Receipts_Desc" /></td>
            <td><input id="Receipts_PurchaseDate" /></td>
            <td><input id="Receipts_Price" /></td>
            <td><input id="Receipts_Vendor" /></td>
            <td><input id="Receipts_AccountType" /></td>
            <td><input id="Receipts_IsBulk" /></td>
            <td><input id="Receipts_HasImage" /></td>
        </tr>
    </table>
</div>
<table id="dataTable">
    <thead>
        <tr>
            <th><input id="selectAllReceipts" type="checkbox" /></th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Purchase Date</th>
            <th>Price</th>
            <th>Has Image</th>
            <th>Date Entered</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div>
    @*@Html.Partial("Index", Html.DataTableVm("id", (ReceiptsController h) => h.GetUsers(null)))*@
</div>

@section Contents
{
    @Styles.Render("~/Content/receipts_index")
}
@section Scripts {
    @Scripts.Render("~/bundles/receipts_index")
}

@section DocumentReady
{
    ReceiptsDataTable();

    AutoComplete();
}