@{
    ViewBag.Title = "All Receipts";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}
@Html.Action("PermissionDropDown", "Permission")
<br/>
<h2>All Receipts</h2>
<p>@Html.ActionLink("Add a new receipt", "Create")</p>
<br />
<table id="dataTable">
    <thead>
        <tr>
            <th><input id="selectAllReceipts" type="checkbox" /></th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Purchase Date</th>
            <th>Price</th>
            <th>Has Image</th>
            <th>Date Entered</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        @*<tr>
            <th></th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Purchase Date</th>
            <th>Price</th>
            <th>Has Image</th>
            <th>Date Entered</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>*@
    </thead>
    <tbody></tbody>
    <tfoot>

    </tfoot>
</table>
<div>
    @*@Html.Partial("Index", Html.DataTableVm("id", (ReceiptsController h) => h.GetUsers(null)))*@
</div>

@section Contents
{
    @Styles.Render("~/Content/receipts_index")
}
@section Scripts {
    @Scripts.Render("~/bundles/receipts_index")
}

@section DocumentReady
{
    docReady();
}

