html, body {
    /*background-color: #e2e2e2;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #333;
    font-size: 1em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* main layout
----------------------------------------------------------*/
.centerlised {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content {
    padding-bottom: 40px;
}

#footer {
    clear: both;
    height: 40px;
    margin-top: -40px;
    background-color: #e2e2e2;
    font-size: .8em;
    width: 100%;
}

header, footer, hgroup, nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}

.no-Padding-no-margin {
    padding: 0;
    margin: 0;
}

/*.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/

span.dollarSign {
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    margin-right: 2px;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.blue {
    color: blue;
}

.fontSize16 {
    font-size: 16px;
}


/*
    //loading is the position holder
    <span class="loading"></span>

    //use add/remove processing below to run
    $('.panel-body').addClass('processing');*/
.loading {
    position: absolute;
    left: 50%;
    width: 128px;
    height: 128px;
    background: url(FileUpload/css/../img/loading.gif) center no-repeat;
    display: none;
}
.processing .loading {
    display: block;
}
