html, body {
    /*background-color: #e2e2e2;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #333;
    font-size: 1.4em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* main layout
----------------------------------------------------------*/
.centerlised {
    margin: 0 auto;
    /*width: 960px;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content {
    padding-bottom: 40px;
}

#footer {
    clear: both;
    height: 40px;
    margin-top: -40px;
    background-color: #e2e2e2;
    font-size: .8em;
    width: 100%;
}

a {
    color: #333;
    outline: none;
    /*padding-left: 3px;
    padding-right: 3px;*/
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup, nav, section {
    display: block;
}


/*h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}

.no-Padding-no-margin {
    padding: 0;
    margin: 0;
}

/*.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* site-title
----------------------------------------------------------*/
.site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    padding: 10px 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: red;
        outline: none;
        text-decoration: none;
    }

.jumbotron {
    /*background-color: blueviolet;
    color: white;*/
}