@{
    ViewBag.Title = "Model";
    Layout = "~/Views/Shared/_LandlordLayout.cshtml";
}

<h2>Model</h2>

<button type="button" data-toggle="modal" data-target="#fileUploadModal">Upload Image/PDF</button>
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 660px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @*<h4 class="modal-title">Upload images or PDFs to attach the receipt</h4>*@

            </div>
            <div class="modal-body" style="max-height: 350px; overflow-y: auto">
                <h4 class="modal-title">Upload images or PDFs to attach the receipt</h4>
                <h5>You can also drag & drop files into this dialog.</h5>
                <table class="table table-striped hide" id="filelistholder">
                    <tbody id="fileListTBody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*<div class="row" style="vertical-align: bottom">*@
                <span id="footer-left" class="pull-left">
                    <span id="btnAddFiles" class="btn btn-info fileinput-button btn-sm">
                        <i class="icon-plus icon-white"></i>
                        <span id="btnName">Add files...</span>
                        <input type="file" id="fileupload" name="files" multiple> @*ccept="image/*"*@
                    </span>
                </span>
                <span class="pull-left">Having trouble? Switch to basic uploader. </span>
                <div class="pull-right">
                    <button id="btnUploadAll" class="btn btn-success btn-sm" type="button">
                        <i class="icon-upload icon-white"></i>
                        <span>Upload</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
                @*</div>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Contents{
    @Styles.Render("~/Content/fileupload")
    @*@Styles.Render("~/bundles/fileupload/bootstrap/Basic/css")*@
}
@section Scripts {
    @Scripts.Render("~/bundles/fileupload")
    <script src="~/Scripts/Lmate/fileuploadDemo.js"></script>
    @*@Scripts.Render("~/bundles/fileupload/bootstrap/Basic/js")*@
}

@section DocumentReady
{
    @*fileUploadInit();*@
    fileUploadInit1();
}