@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>LMate is gonna be <br><mark>your best friend.</mark>.</h1>
            </hgroup>
            <p>Envir friendly</p>
            <p>Cloud based</p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
         Pay
    </li>

    <li class="two">
        <h5>Learn</h5>
       Watch tuiturials.
    </li>

    <li class="three">
        <h5>Pay anuualy to save</h5>
        Save
    </li>
</ol>
